:root.TridactylThemeMyquake {
    --tridactyl-bg: #131111;
    --tridactyl-fg: #ffb64d;

    --tridactyl-hintspan-fg: #ffb64d;
    --tridactyl-hintspan-bg: #131111;
    --tridactyl-hintspan-outline: #d55353;

    --tridactyl-hint-active-fg: #d55353;
    --tridactyl-hint-active-bg: #444444;
    --tridactyl-hint-active-outline: 1px solid #e7803d;

    --tridactyl-hint-bg: #101010;
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);
}

:root.TridactylThemeMyquake #completions .sectionHeader {
    display: none;
}

:root.TridactylThemeMyquake #completions .url {
    color: #ffb64d;
}

:root.TridactylThemeMyquake #completions .focused,
:root.TridactylThemeMyquake #completions .focused .url {
    background: var(--tridactyl-bg);
    font-weight: 900;
    color: #e7803d;
    text-decoration: underline;
}

:root.TridactylThemeMyquake #cmdline_iframe {
    outline-width: 0;
    position: fixed !important;
    bottom: unset;
    bottom: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 35px !important;
    opacity: 0.9;
}

:root.TridactylThemeMyquake .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg);
    border: unset !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    padding: 0.6ex !important;
}
